language: java
jdk:
- openjdk11
sudo: false
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
install: skip
test: skip
jobs:
  include:
  - stage: build pull request
    script: "./gradlew check jacocoTestReport"
    if: type = pull_request
  - stage: build master
    script: "./gradlew check jacocoTestReport publish"
    if: branch = master AND NOT type = pull_request
  - stage: build and stage release
    if: branch =~ /release/
    script: "./gradlew check publish bintrayUpload -Pversion=${TRAVIS_BRANCH#'release/'}"
  - stage: release
    if: branch =~ /release/
    script: "./gradlew closeAndReleaseRepository"
  - stage: github release
    if: branch =~ /release/
    script: "./gradlew jar -x test -Pversion=${TRAVIS_BRANCH#'release/'} && ./scripts/github-release.sh"
after_success:
- bash <(curl -s https://codecov.io/bash)
before_install:
- |
  if [[ "$TRAVIS_PULL_REQUEST" = "false" ]]; then
    openssl aes-256-cbc -K $encrypted_664da3a116f7_key -iv $encrypted_664da3a116f7_iv -in web3j.asc.enc -out web3j.asc -d
  fi
env:
  global:
  - secure: O7Zz21jz2axf3ZpS8ZPv+eSsSLSkwldo9DcmoT1x4CnZUPjfUK1kvLUG2lPiTiKugaZEtGZW1Zj4cAPFoZFY1qtRz6v0sbz+c4SdGgEiA5zaSovimxvgs55frA5/KfFvNIbuBzpc0wW1GEGnnVr3SBpfKloHCRp2cTFOdHOdEYY9sKSM8qyB5Ey9E0YUKwrXssFCZvAtjvcJrMymB26mCaMW+XP5LMcBcCYbzShPUhFHd94fUBXNoqvGi834twj5haP9DQ2fEqN+usW8hCeZMym6SjP1qnyq3BLp5YkEFSAmfJZ1uTwrea8TatzF/N6ds/v5hkGGIgELmqQi9ZgQMLcYvEs8WWFQn2yTM01aWZoh7Tbe2fYQeXtr2Am5qzEcfRmDgTFiQZlcar2E3glTQInBcTlz3vWvwi+MRfJvJgrjXwdaoymjLSVU2Yaf2IRXt2/Ld6xePTrkO1MKPp29QkoKXDTFlMcpEUoEQ4JnsvCQo/Na5bcxIkiz3hdkzK1bS5LbPwgdmR9LiBVFhTwjjgQYb53PaCDrTKr5v5HW0mBPethByH1GK5+4hc7zoXYHPb3dWxaPzR/zL/SmuAsupemx57wlA+yAFGWKdVdGJzD/LuXeabjdkRlHVSAQOLUw/MnbWqkZVHcEYB6QHrqAA6LyoZssx9JiQBX/ejAvyIw=
  - secure: g+nD5ZurcI9DgarqWvvOY8VFQtVgEemG9irplwQ8yso+7/iEuERGKCwMTuwvSBhhg37RalBDoJDHetcprQB5Crau9+p6uM0FPhJt/R2YYwvGT44V/WiKhjbyG+vONNvuCrUi1YUJYFBWa23EsVieo9lDs4HJgrKxd6ltUAt+bOWMZkQ42n532Y5iEppJml4LIb7pki/l6BhfnEtNvfijZQVDfUztbcp/ie24tNBMuYn1jPPVdS8ODaPefHuhEIC/OmVSf9oxSz+39PqRIVWyWuYjLhg7W8UdkzfAumgzgBXMl9N0mUwLMGf5XdzQV6h9s+VGt2ZKFx/xw6NM14NJAbZjzwLpaSUs6f8EA+bqbAvOTr05Gc9ZoLTo819dqqV8ZltGEwWwXb2VwP1QlTUP4A9hM2/DT6FHlPe9Hkwfw2HtifsTtsQ0IHxw74mVuTcLDNWugZWIRI07a8VRm9ipPxEtNGoH0igqJW6QEk2vmu3VqW98ZVHERjZf3AHuMducLFKW/btEzWNpa0Lo9RbB09HKibe18IAYwmSQTLxOiVzX1ZlALPc2lhA9rJags6oV+CW/M+QoCvJL6yJMUSgx832ADjc2eQpFMGxo3iWcV5FM2u5WMZJBWkL4R+A7PwZjNWEhL8zAELl9Tkf1w0bZ1R9gp5PpQ0Y2aqCqN8Psv+g=
  - secure: CAY11k+tAEmcnhdp7syKDnI0AHr2GdjI1jgTO7QhAzGhSyPBX1icU3QsvP4DmI9bSe25rwB+Imk2eolYztjHAeTbJ7ACtSD9yY6PjQdUO/k9dHZJVQomamIl1cEbmsXVavSrMV+6cJUJw+Q0r8WZCI6Qu0fKt+Df0IyjSm4MY8Kwb/aYgF/nvxPpywv3ahSFUgXY/voqqsNBQgZFlO86v84EaTHR5MiIa+QAoowRNLtBQwbAVpAskRT3ZXi+MZqSjXhvxln4IBeANinmlaYS1rY/QEWgLflGRnbMtDj4YPHR74cDHC9wMHXqTJuEpLB8pxkRgU6v1GmfShxLDu5+F1GCnoJ5V7B0zoXY5Q1ZNRUZBpt7Fg3DIqCma2kEVCwEWJZGCk6wftdeGPSLHhZALFV+RWResCnNL7hiten5LxPXP2G3o+FAsU7Q4xqBVTCsyER3Sco1nZFOCBM53tN6irOZP1cv/iB/bayPLerMkrTMYSsHfyUB4n7IqxwU9PqsUjB4k1cHvOsHON/vUzS/Su5u683I0g96PgXTV9WcvHEqTfU6l6xUH5+u0MXZuk4qEoXH42a7O4uK2XLLrL9flJv4QU6cSLxEGLQ26d04+3H2KRMdifj1KtM8NTwXSPT+pHj0T9CVNKMJ8YGjJlkLzWTNhyd8yDtlkTuF/ZxATF0=
  - secure: Ire87XI8UlJvugLuUEn0FTxj+2vZJ42FuiOs5L6gSwqxSe9ncvWqafwBrOrqpmGp8PhxoNR/WcggmBlBQWqOIYQp9L8SCfbAcP1fSD2/sSkkkl+jJXc8mN/mt2WzyKQf/tDUbFylOKaJDqvGyHnloyuruRBmHYSfA//8rT4pTJGo9zCjOXJ17hZUjQm1rAEIfqfHMJk02HNewU7ebvkuuN7YhMz96q6sYnmmeUxQteVBT/aqFqO4+PDC9h3Lnz8Zc/hGy897iSNwhU9hW8tlfm63grKTHdvE81IWdo5xmPUzKjJ98ujIbbWMSoV1FlJAI1RCXr8myylA/R4bX/pGU6hWIXOBv0jETZSLwGDGzXnpIiqeTBQIkiVORCbR5GItu0hy5N/9FG0NpGuEMTnQ95e4EziU3G/FOrD+PbFNSWww/0q6Gf+aLsSAbMIB7DPAlfIlRfwhsnxe0Q1+MNqZpkwBACMPJR+3U6b1B7FSr58Ix/Qg42LelldhoLblSr+LGwAi2MfMAU0iyvGRjb8dnCreYjtCcAyln+oeCLbHpfv71DPX/y5LR78dGSlPayAjzqlekZVuiKKhV2cEBL41oo49ILlABf882LcA3ITc12hIVa9kJ/xUnr7Qkjqw0lTuAQxRbLGRDnu43MVqFCAqeHoV1Bkc8boQRgs1qNvEvVk=
  - secure: 53sepyUhcAG48y33dunwQFtZWSLZtCX090J6V4F/rWByzopihq4OPiu2JrQyv83/wMAfiGq8MedFvZTKHvlKofNIBZyIgPDSrBYM7Bg6SAzuoxxtw9tv0UgcklXHaSbNfhlZgV5o98ALKcmZdWN4t+iuboZAFExYnqnQJ/3E8L8J9oQqwEJ+5AklkuvRXRKDRusgV87GGLYn2gbQJ87pvHTOl2er3Jaezb2/C7QSLG9U63y4JE5DYhtg46B5Fzihq5NEWd95qZYapEEOAJD7o9e6k+PmBdj6bfcRrE4fB7CeJqjsMRLaJTyWhPngiHOjc5E2hE14UMr1fKY8fjMpg1cwgi33xf+zljJtPaSfYsF6VmsOZ107ZLH1AT+S/QDUp7BpDq9CqQTQBfbyKpkfYka0vAFa3273JM3YNYAfRjq2V8lNjJGjAnOvmwpT5v1BMw0KBObUzJNBwJh1R7bEj5OveQDNDZcfn3oR4gL2zvkKkGi0AqJXvh0wpc50p695NBrjCGBDD7q1+FZtM53LCAzeir8Ql0tBtxsh4+EARgdswKq2SmFmu6wucuRzqxbf3Cd5F9oKkMjmZ6OHky0F4IElHmZoLPJcfSmISBVz+jDJOALuyAyUy5yIIdVoa0e3vCWdp0I5qOsVPh6yBoSDR+f+DfXQrtOw0dmhVNWL2RQ=
  - secure: jDXD+gu/MJ5n3ER6W8DY5C2vhUXG37uPXHmH+UK8J/ffOIwTMpNWuKgC0hwjFDFcBv2w18EThntEVMdPYeuSMqQfZW6RGtcxxWZFy0WRMO/PVNFCPP7+PycJhQe5jRtQsOSY6NQIz0PNoIcQ1G2iqjfwd4msTKZg4/ArECrDiK8x9yn295GJCoCkOPOFqQ+oAMUjL76l786F2BhJfBDpCOWC1tC6Lj86+HwjQHPVm1Iwp2/WGyIDnoMC3JTlPog9N9tI4oYY6F9kHWtoK9dhIWSIHP3zMwxZID4h+BIWefLpDK2c7X792cJOuVxGbJtp2x86ESsetyKbnCyQdW86uu5Kanihp/pECLjjMHQV6jThG4sarBbWcO3SYrz42cs+7TSv7fekLlGbs7rQUgA47x0nKHwv84TduuRnjTcZQYejnaT2LI+JIe4k1CHaOXjJBgHf80kYiLek329N7PUjH9Gs0jofRaBrdy/mDtpEHUHrOWH969JEMAGuI16OM/L2oqtUVLwH2nwJd9vt7edAI7HBM02cThoigX0LN2HgZK8A2pVh7GXYSV8Dpd4gwTmb0tfpIjXFyFadsZOnwawIaxLYCSHqwfgZY4xBTxHRzjgZouRWNIM2JXdey7Zt4iEbVxovnljVEEufwqU1JG6UROAmYahfS9bdS10qmNBHN8c=
